.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem */
}

.carousel-item {
  min-width: 80%;
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  scroll-snap-align: center;
  border-radius: 10px;
}
