@font-face {
  font-family: "Integral CF";
  src:  url(../fonts/IntegralCF/IntegralCFBoldRegular.woff2) format("woff2"), 
        url(../fonts/IntegralCF/IntegralCFBoldRegular.woff) format("woff");
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  font-size: 16px;
}

p, a, input, input::placeholder, button {
  font-family: "Satoshi", sans-serif;
}

p, a, input, input::placeholder{
  font-weight: 400;
}

p, a, input{
  color: rgba(0, 0, 0, 0.6);
}

a{
  text-decoration: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

button {
  font-weight: 500;
}

h1, h2 {
  font-family: "Integral CF", sans-serif;
  font-size: 2rem;
}

.promo{
  display: flex;
  height: 8.2vh;
  
  p{
    font-size: 0.75rem;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
    color: white;
    align-items: center;
    font-weight: 100;
  }
  
  .underline{
    color: white;
    font-weight: 400;
    text-decoration: underline;
  }
}

.navbar-container{
  display: flex;
  padding: 5vh 4.5vw;
  justify-content: space-between;
  align-items: center;
}

  .nav-left{
    display: flex;
    align-items: center;
    gap: 4.5vw;
    
    .menu-btn{
      display: flex;
      background: none;
      border: none;
      cursor: pointer;
      
      img{
        width: 5.3vw;
      }
    }
  
    .logo{
      display: flex;
      align-items: center;
      
      .logo img{
        width: 32.2vw;
      }
    }
  }

  .nav-menu{
    list-style: none;
    display: none;
    /* display: flex;
    justify-content: space-between;
    gap: 2vw; */

    li a{
      color: rgb(0, 0, 0);
      text-decoration: none;
      transition: 0.3s;
      
      &:hover{
        opacity: 0.7;
      }
    }
  }
  
  .search{
    display: flex;
    
    .searchbar{
      display: none;
    }
  }

  .nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5vw;
  }

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  max-width: 100vh;
  padding: 7.9vh 4.2vw 0vh 4.2vw;
  
  .letters{
    display: flex;
    flex-direction: column;
    gap: 4.5vh;
    width: 100%;
    
    & > h1{
      font-size: 2.25em;
      line-height: 2.1rem;
    }
    
    & > p{
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.2rem;
    }
    
    button{
      font-size: 1rem;
      font-family: "Satoshi", sans-serif;
      font-weight: 400;
      color: white;
      width: 100%;
      padding: 3.6vh;
      background-color: black;
      border-radius: 62px;
      border: none;
      
      &:hover{
        cursor: pointer;
      }
    }
    
    .features{
      display: flex;
      justify-content: space-around;
      gap: 2.2vw;
      flex-wrap: wrap;
      margin: 0vh 8vw;

      div{
        height: 6vh;
      }

      .block{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .number{
        font-weight: bolder;
        font-size: 1.5rem;
        color: black;
      }
      
      .sentence{
        font-size: 0.75rem;
      }
      
      .slash{
        background-color: rgba(0, 0, 0, 0.1);
        width: 1px;
      }

      .right{
        display: none;
      }
    }
  }

  .models{
    background: url(../media/img/models-big.jpg) no-repeat center -4vh / cover;
    background-size: 120% auto;
    height: 54.5vh;
    width: 100vw;
  }
}

.brands{
  height: 17vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.3vh;

  .line{
    display: flex;
  }

  .top{
    justify-content: space-around;
  }

  .bottom{
    justify-content: center;
    gap: 8vw;
  }
}

.section{
  display: flex;
  flex-direction: column;
  gap: 2.8vh;
  padding: 6vh 0 4.5vh 0;
  overflow: hidden;
  width: 100%;

  h2{
    text-align: center;
    padding-bottom: 1vh;
  }

  .product-carousel{
    display: flex;
    gap: 3.9vw;
    overflow-x: auto;
    padding: 0 3.9vw 0 3.9vw;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    
    .product{
      display: flex;
      flex-direction: column;
      width: 55.063%;
      aspect-ratio: 1 / 1.0102;

      .product-image{
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 13.42px;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;

        img{
          width: 51.282vw;
        }
      }

      .details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5vh;
        padding-top: 1.1vh;

        & > p{
          color: black;
          font-weight: 700;
          font-size: 1rem;
        }
  
        .score{
          display: flex;
          align-items: center;
  
          .stars{
            display: flex;
            gap: 0.9vw;
            padding-right: 2.75vw;
            height: 1.8vh;
          }
  
          p{
            font-size: 0.75rem;
            color: black;
  
            span{
              font-family: "Satoshi", sans-serif;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }
  
        .price, .price-container p{
          font-size: 1.25rem;
          color: black;
          font-weight: 700;
        }
  
        .price-container{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 65%;

          .old-price{
            position: relative;
            color: rgba(0, 0, 0, 0.4);
  
            &::after{
              content: "";
              position: absolute;
              left: 0;
              top: 55%;
              width: 100%;
              height: 1px;
              background-color: #999999;
            }
          }
  
          .discount{
            font-weight: 500;
            color: red;
            background-color: rgba(255, 0, 0, 0.1);
            border-radius: 62px;
            font-size: 0.625rem;
            padding: 3% 7%;
          }
        }
      }
      
    }
    .jeans > .product-image img{
      transform: scale(0.8);
    }

    .black-jeans > .product-image img{
      transform: scale(0.8);
    }
  }

  button{
    color: black;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 0.88rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 92%;
    height: 5.5vh;
    margin: 0 3.9vw 0 3.9vw;
    align-self: center;

    &::hover{
      cursor: pointer;
    }
  }
}

.separator{
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin: 0vh 4.2vw -1.2vh 4.2vw;
}

.browse-style{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75%;
  background-color: #F0F0F0;
  border-radius: 20px;
  margin: 4.103%;
  padding: 6.5% 6.155%;
  height: 115.63vh;
  
  h2{
    text-align: center;
    margin-top: 4.1%;
    margin-bottom: 3.8%;
  }

  .category{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: white;
    
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
    }

    p{
      font-size: 1.5rem;
      color: black;
      font-weight: 700;
      top: 10%;
      left: 7%; 
      position: absolute;
    }
  }
  
  .casual img{
    transform: scale(2.24) scaleX(-1);
    top: 11%;
    right: 8%;
  }

  .formal img{
    transform: scale(2.48);
    top: 28.21%;
    left: 58%;
  }

  .party img{
    transform: scale(1.62);
    bottom: 11%;
    left: 15.5%;
  }

  .gym img{
    transform: scale(2.25);
    top: 14.5%;
    left: 20.5%;
  }
}

.feedback-carousel-container{
  padding: 16px;
  overflow: hidden;

  .feedback-top-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .nav-buttons{
      display: flex;
      gap: 5.1vw;

      img{
        width: 19px;
      }

      button{
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .feedbacks{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    width: 100vw;

    .comment{
      padding: 24px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      height: 186px;
      width: 100%;
      overflow: ;

      display: flex;
      flex-direction: column;

      .user{
        display: flex;
        align-items: center;
        
        .name{
          font-weight: 700;
          color: black;
          font-size: 1.25rem;
        }
      }
    }
  }
}

.newsletter-section{
  background: linear-gradient(to bottom, white 50%, #F0F0F0 50%);
  padding: 16px;

  .newsletter-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 30px 25px;
  
    .subscribe{
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      .email-input{
        display: flex;
        align-items: center;
        border-radius: 62px;
        background-color: white;
        height: 35px;
        
        img{
          margin: 15px 10px 15px 15px;
        }
    
        .email-field{
          outline: none; 
          border: none;
          width: 80%;
        }
      }
  
      button{
        border: none;
        background-color: white;
        border-radius: 62px;
        height: 35px;
      }
    }
  }
}

footer{
  background-color: #F0F0F0;
  padding: 16px;
  display: flex;
  flex-direction: column;

  p{
    font-size: 0.875rem;
  }

  .info{
    margin: 0px 0px 40px 0px;

    .store{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .social{
      display: flex;
      gap: 14px;
      margin: 20px 0px 24px 0px;

      a{
        display: flex;
        align-items: center;
        border-radius: 62px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 7px;
        width: 27px;
        aspect-ratio: 1 / 1;
        background-color: white;
      }
      
      img{
        width: 100%;
        aspect-ratio: 1 / 1;
      }

      .facebook-icon{
        background-color: black;
      }

      #twitter-icon{
        position: relative;
        left: 1px;
      }
    }

    .support-links{
      display: flex;
      flex-wrap: wrap;
      row-gap: 24px;
      font-size: 0.875rem;

      
      h3{
        font-size: 0.875rem;
        font-family: "Satoshi", sans-serif;
        font-weight: 500;
        letter-spacing: 3px;
      }

      .services-list{
        width: calc(50vw - 16px);
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  .copyright-and-payment{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
      margin: 16px 0px
    }

    .payment{
      display: flex;
      gap: 10.29px;

      div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        background-color: white;
        border-radius: 4px;
        
        img{
          padding: 5px;
          width: 100%;
        }
        
        #visa-logo{
          width: 95%;
        }

        #mastercard-logo{
          width: 80%;
        }

        #applepay-logo{
          width: 83%;
        }

        #gpay-logo{
          width: 87%;
        }
      }
    }
  }
}

@media (min-width: 1024px){
  html{
    font-size: 32px;
  }
}

@media (min-width: 768px){
  .search{
    display: flex;
    align-items: center;
    width: max-content;
    background-color: #f0f0f0;
    border-radius: 62px;
    padding: 12px 16px;
    height: 48px;
    flex: 0 1 585px;
  }

  .search img{
  opacity: 40%;
  width: 22px;
  margin-right: 10px;
  }

  .searchbar{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Satoshi", sans-serif;
  }


}